body {
	background-color: #FFFFFF;
}

a {
		text-decoration: underline;
}

a:hover {
	color: #F0A830;
}

a {
	color:black;
}

a:hover {
	background-color: cyan;
	color:black;
}

.hilite {
	background-color: yellow;
}

div.container {
	/*color: #333; */
	/*color: #5E412F;*/
	color: black;
	font-family: "helvetica neue", helvetica, arial, serif;
	margin: 50px auto;
	margin-top: 0px;
	width: 780px;
}

div.header {
	border-bottom: 1px dotted grey;
	font-size: 40px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: justify;
	 /*overflow:auto;*/
}

div.footer {
}

div.header img {
    float: right;
    height: 75px;
    width: 95px;
}

div.intro {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted grey;
}

div.tagcloud {
	text-align: justify;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 1.25;
}

/* 
	index.php Add a pet
*/
div.newpost {
	width: 100%;
	overflow: auto;
}

div.newpost > div#newpostbutton {
	height: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	cursor: default;
}

div.newpost > div#newpostbutton p {
	text-decoration: underline;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: auto;
	float: right;
	text-align: right;
}

div.newpost >  div#newpostbutton:hover p{
	background-color: cyan;
}

div.newpost > div#newpostform {
	padding-top: 10px;
	display: none;
}

div.newpost > div#first {
}

div#photobox {
	width: 100%;
	display: none;
	float: left;
}

div.newpost > input.newText { width: 300px; }
div.newpost > input.newTextActive { color: #a1a1a1; font-style: italic; }

div#username { display: none;}

/*

	index.php main

*/
div.main {
	/* hai */
	margin-top: 5px;
}

/* posts */
div.perma_posting {
	margin: 5px;
	margin-top: 10px;
}

div.perma_posting > div#content {
	height: 150px;
}

div.perma_posting img {
	float: left;
	margin-right: 5px;
	height: 150px;
	width: 250px;
}

div.perma_posting > div#buttons {
	margin-top: 10px;
	margin-bottom: 10px;;
}

div#buttons > a {
	margin-right: 10px;
	float: right;
}


a.posting {
	text-decoration: none;
}

div.posting {
    margin: 5px;
    height: 150px;
    overflow:hidden;
    position: relative;
    min-width: 50px;
    width: 250px;
    float: left;
}

div.posting img {
	position: absolute;
}

div.posting > div#content {
	position:absolute; /* absolute position (so we can position it where we want)*/
	height: 100%;
	/* styling below */
	background-color:black;
	font-family: 'tahoma';
	font-size:15px;
	color:white;
	opacity:0.7; /* transparency */
	filter:alpha(opacity=70); /* IE transparency */
	display: none;
	width: 250px;
	padding: 5px;
}

div.posting > div#tags {
	height: 125px;
}

div.posting > div#buttons {
	float: right;
}

div.lastPostLoader {
	text-align: center;
}

/* posts end */

div.toTop {
	width:100px;
    border:1px dotted #BEBEBE;
    background: #FFFFFF;
    text-align:center;
    padding:5px;
    position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:helvetica;
    font-size:11px;
}

/* Admin.php */
div.category {
	margin-bottom: 10px;
}

div.category > span.tag {
	cursor: pointer;
	text-decoration: underline;
}

div.category > span.tag:hover {
	background-color: cyan;
}

div.category > div#title{
	font-weight: bold;
}

div.category > div#tags{
}

div.category > span#greyed{
	color: gray;
}
/* sendmessage lightbox */
div.sendmessagebox {
	visibility: hidden;
	position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    text-align:center;
}

div.sendmessagebox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

div.sendmessagebox > div.smb_content {
	max-width: 350px;
	max-height: 250px;
	margin:0 auto;
	background-color: white;
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}

/* delmessagebox lightbox */
div.delmessagebox {
	visibility: hidden;
	position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    text-align:center;
}

div.delmessagebox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

div.delmessagebox > div.dmb_content {
	max-width: 350px;
	max-height: 250px;
	margin:0 auto;
	background-color: white;
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}

/* admin.php lightbox */
div.lightbox {
	visibility: hidden;
	position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    text-align:center;
}

div.lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

div.lightbox > div.lb_content {
	max-width: 350px;
	max-height: 250px;
	margin:0 auto;
	background-color: white;
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}

div.lb_content#add {
	visibility: hidden;
}
div.lb_content#recat {
	visibility: hidden;
}
div.lb_content#approve {
	visibility: hidden;
}
div.lb_content#delete {
	visibility: hidden;
}
div.lb_content#error {
	visibility: hidden;
}

input.newText { width: 300px; }
input.newTextActive { color: #a1a1a1; font-style: italic; }
