body {
	background-color: #F5F5F5;
}

a {
		text-decoration: underline;
}

a:hover {
	color: #F0A830;
}

a.tag {
	color:black;
}

a.tag:hover {
	background-color: cyan;
}

.hilite {
	background-color: yellow;
}

div.container {
	/*color: #333; */
	/*color: #5E412F;*/
	color: black;
	font-size: 1em;
	font-family: "helvetica neue", helvetica, arial, serif;
	line-height: 1;
	margin: 50px auto;
	margin-top: 0px;
	width: 600px;
}

div.header {
	border-bottom: 5px solid black;
	font-size: 75px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: justify;
	 /*overflow:auto;*/
}

div.header img {
    float: right;
    height: 75px;
    width: 95px;
}

div.intro {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    border-bottom: 5px solid black
}

div.tagcloud {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: justify;
}

/* 
	index.php Add a pet
*/
div.newpost {
	width: 100%;
	border-top: 1px dotted black;
	overflow: auto;
}

div.newpost > div#newpostbutton {
	height: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	cursor: default;
}

div.newpost > div#newpostbutton p {
	text-decoration: underline;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: auto;
	float: left;
}

div.newpost >  div#newpostbutton:hover p{
	background-color: cyan;
}

div.newpost > div#newpostform {
	padding-top: 10px;
	display: none;
}

div.newpost > div#first {
}

div#photobox {
	width: 100%;
	display: none;
	float: left;
}

div.newpost > input.newText { width: 300px; }
div.newpost > input.newTextActive { color: #a1a1a1; font-style: italic; }

/*

	index.php main

*/
div.main {
	/* hai */
}

div.posting {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
    overflow:hidden;
}

div.posting img {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

div.posting p {
}

div.lastPostLoader {
	text-align: center;
}

div.toTop {
	width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}

/* Admin.php */
div.category {
	margin-bottom: 10px;
}

div.category > span.tag {
	cursor: pointer;
	text-decoration: underline;
}

div.category > span.tag:hover {
	background-color: cyan;
}

div.category > div#title{
	font-weight: bold;
}

div.category > div#tags{
}

div.category > span#greyed{
	color: gray;
}
/* sendmessage lightbox */
div.sendmessagebox {
	visibility: hidden;
	position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    text-align:center;
}

div.sendmessagebox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

div.sendmessagebox > div.smb_content {
	max-width: 350px;
	max-height: 250px;
	margin:0 auto;
	background-color: white;
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}

/* admin.php lightbox */
div.lightbox {
	visibility: hidden;
	position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    text-align:center;
}

div.lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

div.lightbox > div.lb_content {
	max-width: 350px;
	max-height: 250px;
	margin:0 auto;
	background-color: white;
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}

div.lb_content#add {
	visibility: hidden;
}
div.lb_content#recat {
	visibility: hidden;
}
div.lb_content#approve {
	visibility: hidden;
}
div.lb_content#delete {
	visibility: hidden;
}
div.lb_content#error {
	visibility: hidden;
}

input.newText { width: 300px; }
input.newTextActive { color: #a1a1a1; font-style: italic; }
